*.swp
*.swn
*.swl
*.orig
*.png
*.pdf
*.d
*.so
*.a
*___*
*.root
*_.cxx
*.pyc
*~
geoSetup*

simdisplay
chipssim
geomhelper
src/WCSimRootDict.*
geofile.txt
setupWCSim.sh

tmp/
bin/
/nbproject/private/

CMakeCache.txt
CMakeFiles/
Makefile
WCSimConfig.cmake
WCSimRootDict.cxx
cmake_install.cmake
libWCSimRootDict.rootmap
libWCSimRootDict_rdict.pcm

config/geant4/G4*
config/geant4/PhotonEvaporation5.3
config/geant4/RadioactiveDecay5.3
config/geant4/RealSurface2.1.1
