*.swp
*.swn
*.swl
*.orig
*.png
*.pdf
*.d
*.so
*.a
*___*
.*
*.root
*_.cxx
*.pyc
*~
geoSetup*

simDisplay
WCSim
geometryHelper
src/WCSimRootDict.*
geofile.txt
setupWCSim.sh

tmp/
bin/
/nbproject/private/

CMakeCache.txt
CMakeFiles/
Makefile
WCSimConfig.cmake
WCSimRootDict.cxx
cmake_install.cmake
libWCSimRootDict.rootmap
libWCSimRootDict_rdict.pcm

config/geant4/
