*.swp
*.swn
*.swl
*.orig
*.png
*.pdf
*.d
*.so
*.a
*___*
.*
*.root
*_.cxx
*.pyc
*~
geoSetup*

evDisplay
WCSim
geometryHelper
src/WCSimRootDict.*
geofile.txt
setupWCSim.sh

tmp/
bin/
/nbproject/private/
